---
import BirdLayout from '../../layouts/BirdLayout.astro';
import Nearest from '../../bird/Nearest.jsx';
---
<BirdLayout title="Nearest Recent Bird Sightings">
  <main>
    <Nearest client:load/>
  </main>
</BirdLayout>