---
import BirdLayout from '../../layouts/BirdLayout.astro';
import Recent from '../../bird/Recent.jsx';
---
<BirdLayout title="Recent Bird Sightings">
  <main>
    <Recent client:load/>
  </main>
</BirdLayout>