---
import BirdLayout from '../../layouts/BirdLayout.astro';
import Regions from '../../bird/Regions.jsx';
---
<BirdLayout title="Find your eBird region code">
  <main>
    <Regions client:load/>
  </main>
</BirdLayout>