---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title = "HomePage">
  <main>
    <h1>Oh no! There's nothing here.</h1>
    <p>That link must have moved. Please have a look around the site, maybe a <a href="/posts/">blog post</a> has what you were looking for.</p>
  </main>
</BaseLayout>