---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Form from '../../components/experiments/Form.jsx';
import { Markdown } from 'astro/components';
---
<BaseLayout title="React Form">
  <main>
    <p>A React form with controlled components holding data in state</p>
  
    <Form client:load />
    
    <Markdown>
    Here's the code for this page:
    
    ```astro

    //src/pages/experiments/form.astro
    ---
    import BaseLayout from '../../layouts/BaseLayout';
    import Form from '../../components/Form.jsx';
    ---
    <BaseLayout title="React Form">
        <main>
            <p>A React form with controlled components holding data in state</p>
            <Form client:load />
        </main>
    </BaseLayout>
    
    ```

    The code for the component will be added after I trouble shoot some Markdown rendering issues! :)

    </Markdown>
  </main>
</BaseLayout>