---
import BirdLayout from '../../layouts/BirdLayout.astro';
import AllTime from '../../bird/AllTime.jsx';
---
<BirdLayout title="All Species Reported">
  <main>
    <AllTime client:load/>
  </main>
</BirdLayout>
